/* Style Override */
.role-coupon_editor #page-main-content {
  min-height: 360px;
  padding: 0 0 100px;
}

.role-coupon_editor .vertical-tabs {
  display: none;
}

.path-coupons .breadcrumbs {
  display: none;
}

#block-sortcoupons .gva_menu > li > a {
  color: #000 !important;
  background: #3375cb;
  padding: 1rem 3rem;
  margin: 2rem 0;
  border: 1px solid #000;
}

a.tabledrag-handle .handle {
  width: 30px;
  height: 30px;
}

.more-link a {
  background: #000 !important;
  color: #fff !important;
  border: 1px solid #000 !important;
  padding: .5rem 3rem !important;
}


#custom-heading .widget.gsc-heading.style-1 {
  padding-bottom: 60px;
}

.column-style-3 {
  padding: 0 !important;
}

span.a2a_svg.a2a_s__default.a2a_s_print {
  margin: 0 2rem 0 0;
  background-color: green !important;
  font-size: 3rem !important;
  height: 35px !important;
  width: 35px !important;
}

.col.cal-btn {
  margin: 1.5rem 0 0;
}

.coupon .card, .card-dotted-line {
  border: 2px dashed #ccc;
  min-height: 790px;
}

.coupon-promoted .card-dotted-line {
  border: 2px dashed #ccc;
  min-height: auto;
}

.path-coupon .container .container {
  width: 90% !important;
}

.margin-bottom-coupon {
  margin: 0 0 5rem;
}

.node--type-coupon div#content {
  margin: 3rem 0 0;
}

.coupon.coupon-promoted .card-dotted-line::before {
  top: -27px;
  left: -30px;
  font-size: 3rem;
}

.fa.fa-calendar {
  margin: 0 .5rem 1rem .5rem;
}

#front-coupon .coupon .card,
#front-coupon .card-dotted-line {
  border: 2px dashed #000;
  background: #fff;
}

#front-coupon .card-dotted-line::before {
  display: none;
}

#front-coupon .card-dotted-line {
  min-height: auto !important;
}

#block-views-block-coupon-block-1 .card-dotted-line::before {
  display: none;
}

.field.field--name-field-date.field--type-datetime.field--label-inline {
  margin: 0 0 2rem;
  font-weight: bold;
}

small.text-muted {
  font-size: 1rem;
  line-height: 1.3;
}
.text-success {
  color: #468847;
  font-weight: bold;
}

.layout__region.layout__region--first {
  padding: 0 2rem 0;
}

.layout__region.layout__region--second {
  padding: 2rem;
}

.coupon-padding {
  padding: 2rem 0;
}

.coupon-padding-bottom {
  padding: 0 0 3rem;
}

.layout.layout--twocol-section.layout--twocol-section--33-67 {
  max-width: 50%;
  border: 2px dashed #ccc;
  margin: 0 0 80px;
}

.layout.layout--twocol-section.layout--twocol-section--33-67 img {
  border: 0;
  vertical-align: top;
  max-width: 100%;
  height: auto;
  padding: 4rem 4rem 0 4rem !important;
}

.block-layout-builder span,
span .block-layout-builder {
  font-weight: bold;
  font-size: 2rem;
}

.card-title {
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
  line-height: 1.1;
}

.card-body {
  margin: 0 2rem;
}

.coupon img {
  border: 0;
  vertical-align: top;
  max-width: 100%;
  height: auto;
  padding: 2rem 2rem 0 2rem;
}

.coupon .card::before,
.card-dotted-line::before {
  content: '\f0c4';
  display: inline-block;
  font-size: 2rem;
  font-family: 'FontAwesome';
  /* margin: 0 5px 0 0; */
  text-rendering: auto;
  position: absolute;
  color: #000 !important;
  top: -20px;
  left: -10px;
}

.topbar-inner a,
a.topbar-inner {
  color: #bbb;
}

.widget.gsc-block-drupal.remove-margin-on {
  margin-top: 1rem;
}

.testimonial-node-v1 .content-inner .title {
  color: #3375cb !important
}

.testimonial .owl-carousel .owl-dots .owl-dot.active,
.testimonial .widget.gsc-heading.style-1 .title::before {
  background: #cc8500 !important
}

.widget.gsc-heading.style-1 .title::before {
  background: #cc8500 !important;
}

.widget.gsc-heading.style-1 .title::before {
  background: #cc8500 !important;
}

#custom-heading .widget.gsc-heading.style-1 {
  padding-bottom: 0;
}

#change-button a.gsc-button,
#change-button .gsc-button a {
  padding: 2rem 3rem !important;
  width: 100% !important;
  line-height: 1.4 !important;
}

#change-button a.gsc-button:hover,
#change-button .gsc-button a:hover {
  background: #3475cb !important;
}

.testimonial-node-v1 .content-inner .title {
  color: #3375cb !important;
}

.footer .footer-center {
  margin: 10px 0 0;
}

.breadcrumb-content-inner .gva-breadcrumb-content .gva-block-breadcrumb .breadcrumb-style {
  padding: 3rem;
  margin-bottom: 45px;
  margin-top: 1rem;
}

.gv-icon-8:before {
  font-weight: bold;
  font-size: 20px;
}

#block-gavias-kunco-searchform .container-inline div {
  display: inherit !important;
}

.node--type-coupon .layout.layout--twocol-section.layout--twocol-section--33-67 {
  max-width: 100% !important;
  margin: 0 5rem !important;
}

.g-recaptcha {
  margin: 0 0 3rem;
}

.footer {
  margin: 80px 0 0;
}

.path-coupons .coupon.coupon-promoted.gva-view {
  margin: 0 0 0 15px;
}

.path-coupons .views-col.clearfix.col-1.col-lg-12.col-md-12.col-sm-12.col-xs-12 {
  padding-right: 0;
}

.frontpage .main.main-page {
  margin: 0;
}

.gbb-row .bb-inner {
  padding-top: 0 !important;
  padding-bottom: 70px;
}

.sidebar .block-menu ul li a:hover,
.sidebar .block-menu ul li a:focus,
.sidebar .block-menu ul li a:active {
  color: #fff !important;
  background: #3375cb;
}

#change-button a.gsc-button:hover,
#change-button .gsc-button a:hover {
  background: #3475cb !important;
  color: #fff;
}

.heading-padding {
  padding: 5rem 0 0;
}

.layout.layout--twocol-section.layout--twocol-section--33-67 .block .block-title > span {
  font-size: 1.5rem;
  margin: 2rem 0 0;
}

.layout.layout--twocol-section.layout--twocol-section--33-67 .block .block-title {
  margin: 0 0 5px;
  padding: 0 0 3px;
}

.layout.layout--twocol-section.layout--twocol-section--33-67 .field__label {
  display: contents;
  font-size: 1.1rem;
}

.layout.layout--twocol-section.layout--twocol-section--33-67 .field--type-datetime .field__item:before {
  content: "\f073";
  font-family: 'FontAwesome';
  color: #ccc;
  margin: 0 10px 0 0;
}

.block.block-addtoany.block-addtoany-block.no-title {
  margin: 3rem 0 2rem 5rem;
}

.node--type-coupon #header,
.node--type-coupon #footer {
  display: none;
}

.node--type-coupon .node--view-mode-full .field--type-text-with-summary p {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
}


.testimonial .title {
  text-shadow: 3px 1px 8px rgba(0, 0, 0, 0.2);
}

.testimonial-node-v1 .quote {
  font-size: 2rem !important;
  line-height: 1.4 !important;
  color: #262626 !important;
  text-align: center;
  text-shadow: 3px 1px 8px rgba(0, 0, 0, 0.2);
}

.node--type-coupon .main.main-page {
  margin: 0;
}

.node--type-coupon .layout.layout--twocol-section.layout--twocol-section--33-67 img {
  max-width: 300px !important;
  margin: 0 !important;
}

.coupon .card::before {
  content: '\f0c4';
  display: inline-block;
  font-size: 2rem;
  font-family: 'FontAwesome';
  text-rendering: auto;
  position: absolute;
  color: #000 !important;
  top: -20px;
  left: -10px;
}

.node--type-coupon .layout.layout--twocol-section.layout--twocol-section--33-67::before {
  content: '\f0c4';
  display: inline-block;
  font-size: 2rem;
  font-family: 'FontAwesome';
  text-rendering: auto;
  position: absolute;
  color: #000 !important;
  top: -18px !important;
  left: 55px !important;
}

.coupon-promoted .card-dotted-line::before {
  content: '\f0c4';
  display: inline-block;
  font-size: 2rem !important;
  font-family: 'FontAwesome';
  text-rendering: auto;
  position: absolute;
  color: #000 !important;
  top: -18px !important;
  left: -25px !important;
}

.gbb-row.gsc-equal-height.bg-size-cover .gsc-box-color .box-content {
  text-align: center;
  background: #0000000d;
  border-radius: 20px;
}

h1, .h1 {
  font-size: 2.5rem !important;
}

#hvac-man img {
  padding: 2rem 4rem;
}

.img-padding img {
  padding: 2rem 4rem;
}

.gsc-custom-box p {
  font-size: 14px !important;
  line-height: 1.9 !important;
}

div#block-gaviassliderlayersavings {
  margin: 0 0 40px !important;
}

#backtotop {
  background-size: 60px 60px;
}

a.gsc-button.medium {
  width: 100% !important;
}

a.gsc-button.medium:hover {
  background: #3375cb !important;
  color: #fff !important;
}

.frontpage span.a2a_svg.a2a_s__default.a2a_s_print {
  display: none;
}

#block-gaviassliderlayerresidentialservices {
  margin: 0 0 60px 0 !important;
  padding-top: 0 !important;
}

.frontpage .a2a_svg.a2a_s__default.a2a_s_print {
  display: none !important;
}

.copyright a:hover {
  color: #fff;
}

.text-center.small-text {
  font-size: 1.2rem;
}

.action a.link:hover {
  color: #fff !important;
  background: #3375cb !important;
}

.hvac-contact,
.hvac-education {
  display: none;
}

.hvac-block .hvac-content {
  bottom: 0 !important;
}


.node--type-article .breadcrumbs,
.post-block .post-comment,
.node-detail .post-meta {
  display: none !important;
}

.node-detail .post-title {
  margin-top: 10px;
  margin-bottom: 2rem !important;
  font-size: 3rem !important;
}

.node--type-article .video-embed-field-responsive-video {
  position: relative;
  margin: 4rem 0 0;
}

.gavias_sliderlayer .btn-slide a,
#gavias_slider_single .btn-slide a {
  background: #3375cb;
  color: #fff;
  -webkit-box-shadow: 0 1px 0 0 #fff;
  box-shadow: 0 1px 0 0 #fff;
}


.more-link a {
  background: #000 !important;
  color: #fff !important;
  border: 1px solid #000 !important;
  padding: .5rem 3rem !important;
}

.more-link a {
  background: #3a4f5e !important;
  color: #fff !important;
}

.more-link a:hover {
  background: #cc8500 !important;
  color: #fff !important;
}

#footer .button-green.a2a_button_print {
  display: none !important;
}

.widget.gsc-icon-box .highlight_content .title {
  font-size: 3rem !important;
  color: #000;
  margin-bottom: 3px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.gva-view-onefour .node__content.clearfix,
.four-coupon {
  background: #fff;
  border: 1px solid #f7f7f7;
  border-radius: 20px;
  padding: 2rem;
  -webkit-box-shadow: 2px 3px 7px 3px rgba(0, 0, 0, 0.10);
  box-shadow: 2px 3px 7px 3px rgba(0, 0, 0, 0.10);
}

.four-coupon .views-field.views-field-title {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.1;
  margin: 2rem 0 1rem;
}

.gva-view-onefour .node--view-mode-full p {
  padding: 2rem;
}

.node-readmore {
  background: #3375cb;
  color: #fff !important;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  font-size: 14px;
  font-weight: 500;
  padding: 0 18px;
  position: relative;
  display: inline-block;
  line-height: 38px;
  z-index: 1;
  letter-spacing: 0.5px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  border: none;
  margin: 2rem 0 0 0;
}

.node-readmore:hover {
  background: #cc8500 !important;
  color: #000 !important;
}

.node-readmore a:hover {
  color: #000 !important;
}

.gva-view-onefour .field.field--name-field-date.field--type-datetime.field--label-hidden.field__item::before,
.four-coupon .views-field.views-field-field-date::before {
  content: "\f073" " Expires";
  font-family: 'FontAwesome';
  color: #ccc;
  margin: 0 10px 0 0;
  font-size: 1.4rem;
}

.gva-view-onefour .field.field--name-field-date.field--type-datetime.field--label-hidden.field__item,
.four-coupon .views-field.views-field-field-date {
  font-weight: bold;
  margin: 0 0 0 2rem;
  font-size: 1.4rem;
}

.gva-view-onefour .field.field--name-body.field--type-text-with-summary.field--label-hidden.field__item {
  margin: 2rem;
}

.tp-caption.medium_light_black.text-shadow.slide-style-1.skrollable.skrollable-between {
  text-shadow: 1px 2px 7px rgba(0, 0, 0, .5) !important;
}

.widget.gsc-icon-box.text-light .title {
  margin: 4rem 0 0 !important;
}

.frontpage span.a2a_svg.a2a_s__default.a2a_s_print {
  display: none;
}

.tp-caption.medium_light_black.text-shadow.slide-style-1.skrollable.skrollable-between {
  text-shadow: 1px 2px 7px rgba(0, 0, 0, .5) !important;
}

#maintenance ul li {
  list-style: disclosure-closed !important;

}
#maintenance .widget.gsc-heading.style-1 .title::before {
  background: #fff !important;
}

#maintenance ul {
  margin: 0;
  padding-left: 2rem;
  line-height: 2.25;
  font-size: 1.5rem;
}

.text-white h3,
.text-white li,
.text-white p,
.text-white {
  color: #fff !important;
}

#maintenance ul li::marker {
  color: #33a9e4;
  lighting-color: #33a9e4 !important;
}

.widget.gsc-icon-box .highlight_content .desc p {
  margin: 3rem 0;
}

.testimonial-node-v1 .quote {
  margin: 3rem 0 0;
}

.area.after-content .container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.area.after-content .gbb-row .bb-inner {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.cityLink {
  font-size: 14px;
  line-height: 1.2;
  color: #fff;
  margin: 0 0 0 15px;
}

#sb-map .text-size-medium {
  font-size: inherit;
  line-height: 1.5 !important;
  font-weight: 300;
}
#sb-map .widget.gsc-heading.style-1 {
  padding-bottom: 30px;
}

.footer {
  margin: 0;
}

.map-footer .block-title {
  color: #fff !important;
  margin: 0 0 20px 15px !important;
  font-size: 18px !important;
}

#block-gavias-kunco-topbar a {
  color: #fff !important;
  text-decoration: none;
}

.side-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 0 0 2rem;
}

.node--view-mode-full .side-card p {
  line-height: 1.4 !important;
  font-size: 14px !important;
}

.side-card.card-title {
  margin-bottom: 0.25rem !important;
  font-size: 2.25rem !important;
  line-height: 1.1 !important;
}

.side-card-view .more-link {
  margin-top: 0;
}

.frontpage span.a2a_svg.a2a_s__default.a2a_s_print {
  display: none;
}

.tp-caption.medium_light_black.text-shadow.slide-style-1.skrollable.skrollable-between {
  text-shadow: 1px 2px 7px rgba(0, 0, 0, .5) !important;
}

/*********/
/*********/
/*********/

/* Import Bootstrap 4 Cards*/
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card > hr {
  margin-right: 0;
  margin-left: 0;
}

.card > .list-group {
  border-top: inherit;
  border-bottom: inherit;
}

.card > .list-group:first-child {
  border-top-width: 0;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.card > .list-group:last-child {
  border-bottom-width: 0;
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}

.card > .card-header + .list-group,
.card > .list-group + .card-footer {
  border-top: 0;
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}

.card-title {
  margin-bottom: 0.5rem;
}

.card-subtitle {
  margin-top: -0.25rem;
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link:hover {
  text-decoration: none;
}

.card-link + .card-link {
  margin-left: 1rem;
}

.card-header {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-footer {
  padding: 0.5rem 1rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}
.card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.card-header-tabs {
  margin-right: -0.5rem;
  margin-bottom: -0.5rem;
  margin-left: -0.5rem;
  border-bottom: 0;
}

.card-header-pills {
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  border-radius: calc(0.25rem - 1px);
}

.card-img,
.card-img-top,
.card-img-bottom {
  width: 100%;
}

.card-img,
.card-img-top {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.card-img,
.card-img-bottom {
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}

.card-group > .card {
  margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
  .card-group {
    display: flex;
    flex-flow: row wrap;
  }
  .card-group > .card {
    flex: 1 0 0%;
    margin-bottom: 0;
  }
  .card-group > .card + .card {
    margin-left: 0;
    border-left: 0;
  }
  .card-group > .card:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .card-group > .card:not(:last-child) .card-img-top,
  .card-group > .card:not(:last-child) .card-header {
    border-top-right-radius: 0;
  }
  .card-group > .card:not(:last-child) .card-img-bottom,
  .card-group > .card:not(:last-child) .card-footer {
    border-bottom-right-radius: 0;
  }
  .card-group > .card:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .card-group > .card:not(:first-child) .card-img-top,
  .card-group > .card:not(:first-child) .card-header {
    border-top-left-radius: 0;
  }
  .card-group > .card:not(:first-child) .card-img-bottom,
  .card-group > .card:not(:first-child) .card-footer {
    border-bottom-left-radius: 0;
  }
}

@media (min-width: 576px) {
  #search-block-form input[type*="search"] {
    width: 190px !important;
  }

  .layout.layout--twocol-section.layout--twocol-section--33-67 {
    max-width: 100%;
    border: 2px dashed #ccc;
    margin: 0 0 80px;
  }
}

@media (max-width: 991px) {
  .breadcrumb-content-inner .gva-breadcrumb-content .gva-block-breadcrumb .breadcrumb-style {
    min-height: 1000px;
  }
}

@media (max-width: 576px) {
  #search-block-form input[type*="search"] {
    width: 190px !important;
  }

  .node--type-coupon .layout.layout--twocol-section.layout--twocol-section--33-67 {
    max-width: 100% !important;
    margin: 0 2rem !important;
  }

  .coupon.coupon-promoted.gva-view {
    margin: 0 0 0 15px;
  }

  .node--type-coupon .layout.layout--twocol-section.layout--twocol-section--33-67 {
    margin: 0 0 80px 0 !important;
  }

  .coupon.coupon-promoted.gva-view .row {
    margin-right: -30px;
  }

  .frontpage .coupon.coupon-promoted.gva-view {
    margin: 0 50px 0 15px !important;
  }

  .container .coupon-promoted .container {
    padding-right: 15px !important;
  }

  .sidebar .block-menu ul li {
    border: none;
    margin: 0 0 10px !important;
    padding: 0 !important;
    list-style: none !important;
  }
  .sidebar ul {
    margin: 0;
    padding-left: 0;
  }
}


.gsc-image-content.skin-v2 .image img {
  width: 100% !important;
}

/* testimonial custom */
.owl-carousel .owl-dots {
  float: right !important;
  width: 50% !important;
  margin: 0 -16% !important;
}

.testimonial-node-v1 {
  text-align: left !important;
  max-width: 60% !important;
  margin: 0 0 0 auto !important;
  padding-bottom: 20px !important;
}

.testimonial .widget.gsc-heading .title {
  text-align: right !important;
  margin: 0 20% 0 auto !important;
}

.testimonial .widget.gsc-heading.style-1 .title::before {
  left: 83% !important;
  margin-left: 0 !important;
}

.testimonial-node-v1 .quote {
  font-size: 1.7rem !important;
  line-height: 1.9 !important;
}

.testimonial .widget.gsc-heading .title {
  text-align: center !important;
  padding: 0 0 0 55% !important;
}

.testimonial .owl-carousel .owl-dots .owl-dot.active,
.testimonial .widget.gsc-heading.style-1 .title::before {
  bottom: -10px;
}

.testimonial-node-v1 .quote {
  padding-top: 30px;
}

.text-shadow {
  text-shadow: 2px 1px 18px rgba(0, 0, 0, 0.15) !important
}

.frontpage span.a2a_svg.a2a_s__default.a2a_s_print {
  display: none;
}

.tp-caption.medium_light_black.text-shadow.slide-style-1.skrollable.skrollable-between {
  text-shadow: 1px 2px 7px rgba(0, 0, 0, .5) !important;
}

.tp-caption.text.text-black.text-center.text-shadow.slide-style-2.skrollable.skrollable-after,
.text-shadow {
  text-shadow: 1px 2px 7px rgba(0, 0, 0, .5) !important;
}

@media (max-width: 576px) {
  .testimonial-node-v1 {
    text-align: center !important;;
    max-width: 980px !important;;
    margin: 0 auto !important;;
    padding-bottom: 20px !important;;
  }

  .testimonial .widget.gsc-heading .title {
    text-align: center !important;
    margin: 0 !important;
  }

  .testimonial .widget.gsc-heading.style-1 .title::before {
    left: 44% !important;
  }

  .widget.gsc-call-to-action.button-left .content {
    padding-left: 0 !important;
  }

  .testimonial .widget.gsc-heading .title {
    text-align: center !important;
    padding: 0 !important;
  }

  .testimonial.bg-size-cover {
    background-position: inherit !important;
    background-size: inherit !important;
    -webkit-background-size: inherit;
    -moz-background-size: inherit;
    -o-background-size: inherit;
  }

  .testimonial-content {
    background: rgba(0, 0, 0, 0.4);
    padding: 1rem 2rem;
    margin: 3rem 0 0;
    border-radius: 20px;
  }

  .testimonial-content .quote {
    color: #fff !important;
  }

  .testimonial .widget.gsc-heading .title {
    color: #fff !important;
    text-shadow: 2px 1px 8px rgba(0, 0, 0, 1) !important
  }

  .testimonial .column-content-inner {
    margin: 50px 0 0;
  }

  .testimonial-node-v1 .content-inner .title {
    color: #fff !important;
  }

}

.form-wrapper {
  background: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin: 0 0 3rem;
}

fieldset {
  padding: 2rem !important;
  margin: 0 0 4rem;
}

legend {
  border-bottom: transparent !important;
  margin-bottom: 0 !important;
}

legend {
  font-size: 2em;
  line-height: inherit;
  color: #262626;
  font-weight: bold;
}

#webform-submission-hvac-troubleshooter-add-form {
  margin: 0 0 80px;
}

.form-item .js-form-type-radio {
  margin: 10px;
}

.form-item .js-form-type-radio input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.form-item .js-form-type-radio label {
  display: inline-block;
  background: #616364;
  color: #fff;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  font-size: 14px;
  font-weight: 500;
  padding: 0 18px;
  position: relative;
  line-height: 38px;
  z-index: 1;
  letter-spacing: 0.5px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  border: none;
}

.form-item .js-form-type-radio label:hover {
  background-color: #208a20;
}

.form-item .js-form-type-radio input[type="radio"]:focus + label {
  border: 2px solid #444;
}

.form-item .js-form-type-radio input[type="radio"]:checked + label {
  display: inline-block;
  background: #3375cb;
  color: #fff;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  font-size: 14px;
  font-weight: 500;
  padding: 0 18px;
  position: relative;
  display: inline-block;
  line-height: 38px;
  z-index: 1;
  letter-spacing: 0.5px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  border: none;
}

#edit-actions, .webform-actions {
  background: #fff !important;
  border: transparent !important;
  margin: 0 0 80px 3rem !important;
}

#edit-actions-reset,
.webform-button--reset,
.webform-button--reset input[type='submit'] {
  margin: 3rem 0 0 !important;
  color: #fff !important;
  background: #cc8500 !important;
  padding: .2rem 4rem !important;
}

#edit-actions-reset:hover,
.webform-button--reset:hover {
  background: #3375cb;
}

#xxxedit-expert-care,
#\#edit-expert-care,
#edit-expert-3,
.expert-care {
  color: #fff;
  padding: 2rem;
  background: #3375cb;
  border: 1px solid #ccc;
  border-radius: 20px;
}

#xxxedit-expert-care .btn-theme,
#\#edit-expert-care .btn-theme,
.expert-care .btn-theme {
  border: 1px solid #fff;
}

#xxxedit-expert-care h3,
#\#edit-expert-care h3,
.expert-care h3 {
  font-size: 2.5rem;
  color: #fff;
}

#edit-awesome,
#edit-awesome2,
#edit-awesome-3,
#edit-awesome-4,
#edit-awesome-5,
#edit-awesome-6,
#edit-awesome-7,
.awesome-style {
  padding: 2rem;
  background: #3375cb;
  border: 1px solid #ccc;
  border-radius: 20px;
  color: #fff;
}

#edit-awesome h3,
#edit-awesome2 h3,
#edit-awesome-3 h3,
#edit-awesome-4 h3,
#edit-awesome-5 h3,
#edit-awesome-6 h3,
#edit-awesome-7 h3,
.awesome-style h3 {
  font-size: 2.5rem;
  color: #fff;
}

.breadcrumb-content-inner .gva-breadcrumb-content .breadcrumb-links nav.breadcrumb li {
  color: #fff !important;
}
.breadcrumb-content-inner .gva-breadcrumb-content .breadcrumb-links nav.breadcrumb li a:hover {
  color: #fff !important;
}

.position-sticky {
  margin: 18rem 0 0 1rem;
}
.warning {
  color: #c7ff00;
  margin: 0 0 4rem;
  font-size: 1.5rem;
}

#edit-warning-1 h3 {
  color: #c7ff00;
  font-size: 4rem;
}

#block-contactblock .form-wrapper {
  background: none;
  border: none;
  border-radius: 0;
  margin: 0;
}

#hvac-trouble {
  border-bottom: 5px solid #ccc;
  margin: 0 0 40px;
}

#edit-contact-information .js-form-item.form-item {
  display: grid;
}

.js-form-item.form-item.js-form-type-date.form-item-requested-service-date.js-form-item-requested-service-date {
  margin: 0 0 2rem;
}


.area.after-content .block {
  margin-bottom: 0 !important;
}

#block-gaviascontentbuilderserviceforms .column-style-1 {
  max-width: 700px;
  margin: 0 auto;
  padding: 5rem 0 3rem 2rem;
}

.center-button a {
  text-align: center !important;
}

/*
.gbb-row.gsc-equal-height > .bb-inner > .bb-container > .row > .row-wrapper .column-content-inner {
  position: relative;
  margin: 0 auto;
}
*/

#block-gaviascontentbuilderserviceforms .col-xs-6,
#block-gaviascontentbuilderserviceforms .col-sm-6,
#block-gaviascontentbuilderserviceforms .col-md-6,
#block-gaviascontentbuilderserviceforms .col-lg-6 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

#block-gavias-kunco-topbar .gsc-button {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  border: 1px solid #fff;
  background: #cc8500;
  margin-bottom: 0;
  display: inline-block;
  clear: both;
  font-size: .85rem !important;
  border-radius: 15px;
  margin: 0 .5rem 0 0;
  padding: .75rem 2rem;
}

.gsc-button.small.blue {
  background: transparent;
}

.gsc-button.small.blue:hover {
  background: #cc8500;
}

.gsc-button.small.orange {
  background: transparent;
}

.gsc-button.small.orange:hover {
  background: #3375cb;
}

.topbar {
  padding: 10px 0 !important
}

.topbar .pull-left.text-left {
  margin: 1rem 0 0;
}

.topbar .pull-left.text-left span {
  margin: 0 7px 0;
}

#block-gavias-kunco-topbar a {
  color: #bbb !important;
}

#block-gavias-kunco-topbar a:hover {
  color: #fff !important;
}

.gv-icon-92::before {
  content: '\f002';
  display: inline-block;
  font-size: 2rem;
  font-family: 'FontAwesome';
  /* margin: 0 5px 0 0; */
  text-rendering: auto;
}

header.header-v1 .quick-menu {
  padding: 15px 10px !important;
}

.js-form-item.form-item.js-form-type-search.form-item-keys.js-form-item-keys.form-no-label {
  display: block !important;
}

#edit-requested-service-date,
#edit-requested-service-time {
  margin: 0 0 0 30px;
  font-size: 12px;
  line-height: 2.0;
}

.node--type-coupon .gavias-blockbuilder-content {
  display: none !important;
}

#block-gaviascontentbuilderserviceforms .gbb-row.gsc-equal-height > .bb-inner > .bb-container > .row > .row-wrapper .column-content-inner {
  position: relative;
  display: flex;
  text-align: center;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .topbar,
  #footer #block-views-block-coupon-block-4 .view-list-item::before,
  header.header-v1 .header-action {
    display: none !important;
  }

  .location-wrapper .overlay {
    bottom: 0;
  }
}

.location-wrapper {
  display: inline-block;
  margin-top: 25px;
  position: relative;
}

.location-wrapper img {
  display: block;
  max-width: 100%;
}

.location-wrapper .overlay h1 {
  color: #fff;
}

.location-wrapper .overlay {
  position: absolute;
  bottom: 5%;
  left: 0;
  width: 100%;
  background-color: #000000a6;
  color: #fff !important;
  text-align: center;
  padding: 2rem 0;
}

.node--type-location .col-xs-12,
.node--type-location .col-sm-12,
.node--type-location .col-md-12,
.node--type-location .col-lg-12 {
  padding-left: 0 !important;;
  padding-right: 0 !important;;
}

.hvac-resources ul li {
  list-style: none;
}

.hvac-resources ul {
  margin: 0;
  padding-left: 0;
}

.hvac-resources a {
  border: 1px solid #000;
  margin: 0 0 1rem;
  display: block;
  max-width: 250px;
}

.hvac-resources a:hover {
  background: #3375cb;
  color: #fff;
}

.hvac-resources .menu-item a {
  padding: 1rem 2rem;
}

p a {
  color: #3375cb;
}

#footer ul.menu > li {
  position: relative;
  padding: 0;
  line-height: 1.2;
  margin: 0 0 1rem;
}

.cityLink:hover {
  color: #3375cb;
}

#footer #block-views-block-coupon-block-4 .view-list-item::before {
  content: '\f138';
  display: inline-block;
  font-size: inherit;
  font-family: 'FontAwesome';
  color: #3375cb;
  margin: 0 5px 0 -20px;
}

#footer hr {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 0;
  border-top: 1px solid #ffffff1f
}

.header-main .btn-theme {
  background: transparent;
  border: 1px solid #000;
  border-radius: 10px;
  color: #000;
}

header.header-v1 .header-action {
  right: 25px !important;
  top: 41% !important;
}

.topbar .gsc-button.small.blue {
  background: #3375cb !important;
}

.topbar .gsc-button.small.blue a {
  color: #fff !important;
}

#block-gavias-kunco-topbar .pull-right a {
  color: #fff !important;
}

#block-gavias-kunco-topbar .pull-right a:hover,
.topbar .gsc-button.small.blue:hover {
  color: #000 !important;
}

#block-gavias-kunco-topbar .gsc-button.small.orange:hover,
.topbar .gsc-button.small.orange:hover {
  color: #000 !important;
}

.gsc-button.small {
  font-size: 10px;
  padding: .75rem 2rem;
}

.header-action .btn-theme {
  line-height: 30px;
}

#block-gavias-kunco-topbar .gsc-button {
  font-size: .9rem !important;
  border-radius: 0;
  border: none !important;
  margin: 0;
  padding: 1.5rem 2rem !important;
}

#block-gavias-kunco-topbar ul.inline > li {
  margin-left: 0;
}

.topbar {
  padding: 0 !important;
}

.remove-border,
.remove-border a,
.remove-border a:hover {
  border: none !important;
}

.description {
  font-weight: bold;
  line-height: 1.6 !important;
}

#footer .navigation .gva_menu > li {
  display: inline flow-root list-item !important;
}

#footer .navigation .gva_menu > li > a {
  padding: 0 !important;
}

#footer .menu-item {
  margin: 0 1rem 0 !important;
}

#footer #block-mainnavigation-2 .gva-navigation {
  margin: 0 0 0 5px;
}

#service-area .container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}

.location-wrapper {
  display: inline-block;
  margin-top: 10px;
  position: relative;
}

.side-card {
  border: none !important;
  border-radius: 0;
  margin: 0 0 2rem;
}

.side-card-view h5 {
  font-size: 2rem !important;
}

.widget.gsc-heading .title-desc {
  max-width: 800px !important;
  line-height: 1.85 !important;
  font-size: 1.6rem !important;
  color: #5e5c5c !important;
}

.widget.gsc-icon-box.text-light .desc {
  color: #fff;
}

.widget.gsc-icon-box.text-light .desc p {
  padding: 0 0 2rem;
}

.action a.link {
  border-radius: 10px;
  padding: 1rem 2rem !important;
}

.action a.link:hover {
  color: #3375cb !important;
  background: #fff !important;
}

.owl-carousel .owl-nav > div {
  background: #3375cb;
}

.owl-carousel .owl-nav > div:hover {
  background: #cc8500;
}

.img-width-300 img {
  max-width: 300px;
}

.node--type-hvac-101 h1, .path-helpful-tips h1 {
  border-bottom: 5px solid #cccccc3b;
  margin: 3rem 0 3rem 0;
  padding: 0 0 1rem;
}

.sidebar .block-menu ul li.menu-item--active-trail > a,
#block-mainnavigation-4 .block-menu ul li.menu-item--active-trail > a {
  color: #cc8500 !important;
}

.node--type-hvac-101 .sidebar .block-menu ul li.menu-item--active-trail > a::after,
.path-helpful-tips .sidebar .block-menu ul li.menu-item--active-trail > a::after,
#block-mainnavigation-4 .block-menu ul li.menu-item--active-trail > a::after {
  font-family: 'FontAwesome';
  content: '\f054';
  display: inline-block;
  color: #cc8500 !important;
  position: absolute;
  right: 0;
  top: 10px;
}

.node--type-hvac-101 .sidebar .block-menu ul li a,
.path-helpful-tips .sidebar .block-menu ul li a,
#block-mainnavigation-4 .block-menu ul li a {
  padding: 8px 10px 8px 15px;
  display: block;
  border: none;
  text-transform: none;
  font-size: 1.6rem;
  overflow: hidden;
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 1.5;
}

.node--type-hvac-101 .sidebar .block-menu ul li.menu-item--active-trail > a:hover,
.path-helpful-tips .sidebar .block-menu ul li.menu-item--active-trail > a:hover,
#block-mainnavigation-4 .block-menu ul li.menu-item--active-trail > a:hover {
  background: transparent;
}

.node--type-hvac-101 .sidebar .block-menu ul li.menu-item--active-trail > a,
.path-helpful-tips .sidebar .block-menu ul li.menu-item--active-trail > a,
#block-mainnavigation-4 .block-menu ul li.menu-item--active-trail > a {
  color: #cc8500 !important;
}

.custom-h1-header h1 {
  border-bottom: 5px solid #cccccc3b;
  margin: 3rem 0 3rem 0;
  padding: 0 0 1rem;
}

.main-menu {
  margin: 2.5rem 0 0;
}

.header-action {
  margin: 2.2rem 0 0;
}

#bg {
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  z-index: 1;
}

.handy-dan {
  max-width: 250px;
}

#search-form .form-wrapper {
  background: transparent !important;
  border: 0 solid #ccc !important;
  border-radius: 0 !important;
  margin: 0 0 3rem !important;
}

input[type="search"] {
  -webkit-appearance: none;
  border: 1px solid #ccc;
  line-height: 2.4;
  border-radius: 5px;
}

.js-form-item.form-item.js-form-type-select.form-item-general.js-form-item-general {
  display: inline-grid;
  margin: 1rem 0;
  width: 98%;
}

.js-form-item .form-required::before,
.fieldset-legend.js-form-required.form-required::after {
  content: '\f069';
  display: inline-block;
  font-size: .6rem;
  font-family: 'FontAwesome';
  color: #cc8500;
  margin: 0 .5rem 0 -10px;
  position: absolute;
}

.webform-confirmation h5,
.node--view-mode-full .webform-confirmation p,
.webform-confirmation .node--view-mode-full p {
  line-height: 1.4 !important;
}

.js-form-item .form-item label {
  display: block !important;
}

.TRANE.navigation .gva_menu > li > a {
  padding: 8px 10px 8px 15px !important;
  display: block !important;
  border: none !important;
  text-transform: none !important;
  font-size: 1.6rem !important;
  overflow: hidden !important;
  -webkit-transition: all 0.35s !important;
  -o-transition: all 0.35s !important;
  transition: all 0.35s !important;
  -moz-transition: all 0.35s !important;
  position: relative !important;
  font-family: "Poppins", sans-serif !important;
  font-weight: 500 !important;
  line-height: 2 !important;
  width: 290px;
}

.TRANE .block-content ul li.menu-item--active-trail > a:hover {
  background: transparent !important;
}

.TRANE .block-content ul li.menu-item--active-trail > a {
  color: #cc8500 !important;
}

.TRANE .block-content ul li.menu-item--active-trail > a::after {
  font-family: 'FontAwesome';
  content: '\f054';
  display: inline-block;
  color: #cc8500 !important;
  position: absolute;
  right: 0;
  top: 10px;
}

.TRANE .block-content .block-menu ul li {
  border: none;
  margin: 0 0 10px !important;
  padding: 0 !important;
  border: none !important;
  float: left;
  width: 100%;
}

.TRANE .navigation .gva_menu > li {
  display: inline-block;
  width: 100%;
}

#webform-submission-schedule-service-add-form,
#webform-submission-schedule-estimate-add-form {
  margin: 0 5rem 0 0;
}

@media (max-width: 991px) {
  .widget.gsc-call-to-action.button-right-v2.margin {
    margin-top: -50px !important;
  }
  #webform-submission-schedule-service-add-form,
  #webform-submission-schedule-estimate-add-form {
    margin: 0;
  }
}

.widget.gsc-icon-box .highlight_content .title {
  font-size: 2.3rem !important;
  color: #000;
  margin-bottom: 3px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.hvac-block {
  text-align: left;
  margin-top: 15px;
  margin-bottom: 30px;
  padding-bottom: 15px;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  min-height: 450px;
}

.hvac-block .hvac-image {
  position: relative;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  background: #fff;
}

.hvac-block .hvac-image .item-image {
  position: relative;
}

.hvac-block .hvac-image .item-image:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: 1;
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
}

.hvac-block .hvac-content {
  background: #fff;
  width: 100%;
  position: relative;
  -webkit-transition: all 0.45s;
  -o-transition: all 0.45s;
  transition: all 0.45s;
  -moz-transition: all 0.45s;
  -ms-transition: all 0.45s;
}

.hvac-block .hvac-content .hvac-name {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  line-height: 20px;
  font-family: "Poppins", sans-serif;
  padding: 20px 20px 0;
}

.hvac-block .hvac-content .hvac-job {
  font-size: 13px;
  color: #808080;
  padding: 0 20px 15px;
}

.hvac-block .hvac-content .socials-team {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 9;
  width: auto;
  padding: 5px 10px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
  -moz-transition: all 0.15s;
  -ms-transition: all 0.15s;
  text-align: center;
  background: #026bb0;
}

.hvac-block .hvac-content .socials-team a {
  text-align: center;
  color: #fff;
  font-size: 18px;
  margin: 0 8px;
}

.hvac-block .hvac-content .socials-team a:hover, .hvac-block .hvac-content .socials-team a:focus, .hvac-block .hvac-content .socials-team a:active {
  color: #3375cb;
}

.hvac-block:hover .hvac-image .item-image:after {
  opacity: 1;
  filter: alpha(opacity=100);
}

.hvac-block:hover .hvac-content {
  bottom: 0;
}

.hvac-block:hover .hvac-content .socials-team {
  opacity: 1;
  filter: alpha(opacity=100);
}

.hvac-list .hvac-block .hvac-image {
  width: 35%;
  float: left;
}

.hvac-list .hvac-block .hvac-content {
  padding-left: 30px;
  width: 65%;
  float: left;
}

.hvac-list .hvac-block .hvac-content .hvac-body {
  display: block !important;
  visibility: visible !important;
  padding: 10px 0;
}

.chevron {
  font-weight: 600;
}

.chevron::after {
  font-family: 'FontAwesome';
  content: '\f054';
  display: inline-block;
  color: #262626 !important;
  margin: 0 0 0 10px;
  font-weight: normal;
}
.hvac-link {
  position: absolute;
  bottom: 0;
  margin: 0 0 20px 20px;
}

.hvac-slider .hvac-link {
  display: none;
}

.hvac-slider .hvac-block {
  min-height: 400px;
}

.team-block .team-content {
  bottom: 1px !important;
}

.side-card {
  text-align: left;
  margin-top: 15px;
  margin-bottom: 30px;
  padding-bottom: 15px;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  min-height: 350px;
}

.widget.gsc-icon-box.top-center .title {
  line-height: 1.2;
}

.list-unstyled a,
a.list-unstyled {
  color: #0782c2;
}

.call-box {
  background: #0a65aa;
  padding: 1rem 2rem;
  border-radius: 10px;
  text-align: center;
  margin: 3rem 0;
}

.call-box h3 {
  color: #fff !important;
  line-height: 1.2;
}

.call-box h5 {
  color: #fff !important;
  line-height: 1.5;
}

.call-box-description {
  margin: 0 1rem 2rem 0;
}

.call-box-link {
  margin: 0 0 1.5rem;
}

.call-box .button.text-center {
  border: 1px solid #fff;
  padding: .75rem 3rem;
  border-radius: 5px;
  color: #fff;
}

.call-box .button.text-center:hover {
  background: #cc8500 !important;
}

.trane-card {
  text-align: left;
  margin-top: 15px;
  margin-bottom: 3rem;
  padding: 0;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  min-height: 350px;
}


.trane-status.Most.Energy.Efficient {
  background-color: #5caf00;
  border-width: 1px;
  border-style: solid;
  border-color: #5caf00;
}

.green {
  color: #5caf00;
}

.trane-status.Most.Energy.Efficient h4::before {
  content: '\f06c';
  display: inline-block;
  font-size: inherit;
  font-family: 'FontAwesome';
  margin: 0 10px 0;
}

.trane-status.Quietest {
  background-color: #4883b5;
  border-width: 1px;
  border-style: solid;
  border-color: #4883b5;
}

.trane-status.Quietest h4::before {
  content: '\f027';
  display: inline-block;
  font-size: inherit;
  font-family: 'FontAwesome';
  margin: 0 10px 0;
}

.trane-status.Best.Value {
  background-color: #01998e;
  border-width: 1px;
  border-style: solid;
  border-color: #01998e;
}

.trane-status.Best.Value h4::before {
  content: '\f155';
  display: inline-block;
  font-size: inherit;
  font-family: 'FontAwesome';
  margin: 0 10px 0;
}

.trane-status {
  border-radius: 10px 10px 0 0;
}

.trane-status h4 {
  line-height: 10px !important;
  color: #fff;
}

.trane.blue.uppercase {
  color: #2a5eaa;
  font-weight: 500 !important;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px
}

.trane h6,
h6.trane {
  line-height: 1px !important;
  margin: 2rem 0 0 !important;
}
.trane-logged-in {
  display: none;
}

.logged-in .trane-logged-in {
  display: block;
}
