{#
/**
 * @file
 * Gavias's theme implementation to display a single Drupal page.
 */
#}

<div class="body-page gva-body-page">
  {% include header_skin %}

  <div role="main" class="main main-page">

    {% if page.help %}
      <div class="help gav-help-region">
        <div class="container">
          <div class="content-inner">
            {{ page.help }}
          </div>
        </div>
      </div>
    {% endif %}

    <div class="clearfix"></div>

    <div id="content" class="content content-full">
      <div class="container-fluid">
        {% include directory ~ '/templates/page/main.html.twig' %}
      </div>
    </div>
  </div>

  <div class="clearfix"></div>

  {% if page.after_content %}
    <div class="area after-content">
      <div class="container-fluid">
        {{ page.after_content }}
      </div>
    </div>
  {% endif %}

</div>



{% include directory ~ '/templates/page/footer.html.twig' %}
